.body{
    background-color:#272727 ;
}


.head{
    background-image: url(../img/head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
    height: 600px;
    text-align: center;
}

.transparente{
    background-color: transparent;
    border: 0;
    color: white;
}
.transparente h5{
    text-decoration: line-through;
    color: rgb(219, 106, 8);
}

.ordenar{

    background-color: grey;
}


figure img{
    border-radius: 10px;
}
    figure img:hover{
        border: 1px solid #fff;
    }
figure figcaption{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
    #precio{
        font-size: 25px;
    }